<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="SaveFolders" type="ConfigSectionSaveFolders.SaveFoldersConfigSection, ConfigSectionSaveFolder"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <SaveFolders>
    <Folders>
      <add folderType="Biling" path="c:\Biling"></add>
      <add folderType="Daily" path="c:\Daily"></add>
      <add folderType="Weekly" path="c:\Weekly"></add>
    </Folders>
  </SaveFolders>
</configuration>